/* this is first add componenent */
.main-contenar-firstadd{
    display: grid;
    margin: 50px 0px;
    }
    .contenar-firstadd{
        display: flex;
        justify-content: center;
        }
        .form-Add-firstadd{
            background-color:#E5E7EC;
            border-radius: 5px 50px;
            width: 60%;
            box-shadow: 1px 1px 4px -1px black;
            }
            .first-line-add-firstadd{
                margin: 30px 0px;
                display: grid;
                justify-content: center;
                }
                .input-add-firstadd{
                    margin: 20px -10px;
                    width: 300px;
                    border: none;
                    padding: 3px 15px 3px 0px;
                    background-color: #E7E7E8;
                    font-family: 'Cairo', sans-serif;
                    background-color:#ffffff;
                    border-radius:0  10px;
                }
                @media all and (max-width: 500px) {

                    
                }